html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

a,
a:hover {
  text-decoration: none;
}

.main-header {
  width: 100vw;
  line-height: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) #0a183d;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) #0a183d;
}

.main-header .navbar-brand {
  color: #fff;
  -webkit-animation: music 1s linear infinite;
          animation: music 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-header .fas {
  font-size: 4rem;
}

@-webkit-keyframes music {
  from {
    trasform: rotate(5deg);
  }
  to {
    trasform: rotate(-5deg);
  }
}

@keyframes music {
  from {
    trasform: rotate(5deg);
  }
  to {
    trasform: rotate(-5deg);
  }
}

.main-header .navbar-nav {
  padding-left: 15rem;
}

.main-header .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 3rem;
}

.main-header .navbar-nav .nav-item:last-child > .nav-link {
  padding-right: 0%;
}

.main-header .nav-item:hover > .nav-link,
.main-header .navbar-brand:hover,
.main-header .navbar-brand:hover > .fas {
  color: #b71540;
}

.main-header .my-btn {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  text-transform: capitalize;
  border-radius: 4.5rem;
  color: #fff;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.main-header .my-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header-hero {
  width: 100%;
  height: 80vh;
  background: #0a183d;
}

.header-hero-text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.header-hero-text h2 {
  color: #fff;
  line-height: 150%;
  font-size: 7rem;
  font-weight: 600;
}

.header-hero-text h2 span {
  color: #b71540;
}

.header-hero-text p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 5rem;
}

.header-hero-text .header-text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-hero-text .header-text-btn a {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  text-transform: capitalize;
  border-radius: 4.5rem;
  color: #fff;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.header-hero-text .header-text-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header-hero-img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-hero-img:hover {
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
  .header-hero-text .header-text-btn {
    display: block;
    margin: 0 auto;
  }
  .header-hero-text .header-text-btn a {
    display: block;
  }
  .header-hero-text .header-text-btn a #__btn2 {
    margin-top: 2rem;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=main.css.map */